---
import { menuNavigation } from "../data/navigation";
import NavigationList from "./NavigationList.astro";
---

<nav class="category-links" aria-label="Bakery menu categories">
  <NavigationList items={menuNavigation} />
</nav>
