---
import type { CollectionEntry } from "astro:content";
import ProductCard from "./ProductCard.astro";

interface Props {
  products: CollectionEntry<"products">[];
}

const { products } = Astro.props;
---

<div class="product-grid">
  {products.map((product) => <ProductCard product={product} />)}
</div>

<style>
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
    gap: 1.5rem;
    align-items: stretch;
  }
</style>
